@import '../../variables';

.postView{
    flex-grow: 1;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    margin-top: 50px;
}

.postView::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}