@import '../../variables';

.home{
    flex-grow: 1;
    max-width: 800px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    height: auto;
    margin-top: 30px;
}

.home::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@media only screen and (max-width: 600px) {
    .home{
        max-width: 100%;
    }
}