@import '../../variables';

.posts{
    width:100%
}

.loadMore{
    font-size: 16px;
    color: $color-blue;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border:none;
    border-radius: 0;
    margin-bottom: 50px;
}

.loadMore:hover{
    cursor: pointer;
    text-decoration: underline;
}